@import '../../../common/assets/styles/textCatalog.scss';

.shopmate-cart-container {
    .table-header-item{
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $greyish;
        text-align: center
    }
    .product-image-container{
        width: 96px;
        height: 96px;
        border: solid 1px $form-border-color;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;    
        .product-image{
            width: 77px;
            height: 90px;
        }
    }
    .row-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .attribute-value{
        font-family: OpenSans;
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $black;
    }
    .product-price{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 1px;
        text-align: center;
        color: $black;
    }
    .cart-product-details{
        margin-left: 20px;
        text-align: left;
        .title{

        }
        .remove{
            
        }
    }
}