@import '../../../common/assets/styles/textCatalog.scss';

.shopmate-product-detail-container{    
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: $white-two;
    .no-margin{
        margin: 0px;
    }
    .product-view-container{
        display: flex;
        .product-image-container{
            .product-image-big-wrap{
                height: 250px;
                // display: flex;
                text-align: center;
                padding-top: 20px;
                .preview-big-imag{
                    width: 120px;
                    height: 111px;
                    margin-top: 20px;
                    cursor: pointer;
                }
            }
            .product-image-small-wrap{
                text-align: center;
                .preview-image{
                    margin-right: 20px;
                    height: 70px;
                    width: 70px;                    
                }
                .selected {
                    border: solid $red-pink 2px;
                }
            }
        }
    }
    .product-detail{       
        .product-title{
            font-family: 'Montserrat';
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 1px;
            color: $black;
        }
        .product-description{
            font-family: OpenSans;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $black;
        }
        .product-price{
            width: 84px;
            height: 36px;
            font-family: 'Montserrat';
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 1px;
            color: $red-pink;
        }
        .price-color-label{
            width: 45px;
            height: 24px;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $greyish;
        }     
        .attribute-details{
            .attribute-label{
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: $greyish;
            }
            .attribute-options{
                display: flex;
                // justify-content: space-between;
                .attribute-color-circle{
                    width: 25px;
                    height: 25px;
                    margin-left: 5px;
                    border-radius: 50%;
                }
                .selected-color{
                    -moz-border-radius: 25px/25px;
                    -webkit-border-radius: 25px 25px;
                    border-radius: 25px/25px;
                    border: solid 21px;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                }
                .attribute-color-reactangle-selected{
                    width: 55px;
                    height: 30px;
                    border-radius: 2px;
                    background-color: $red-pink;
                    text-align: center;
                }              
                .attribute-color-reactangle{
                    width: 55px;
                    height: 30px;
                    border-radius: 2px;
                    margin-left: 5px;
                    background-color: $greyish;
                    text-align: center;
                }
            }
        }    
    }
    .add-button-container{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .submit-button {
        @include ECom-Button;
        height: 35px;
        width:120px ;
        border-radius: 17px
    }
    .quantiy-details{
        display: flex;
        .quantity-minus{
            height: 20px;
            width: 33px;
            background-color: $greyish;
            border-radius: 45%;          
            text-align: center;
        }
        .quntity-input{
            height: 20px;
            width: 40px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
        }
       
        .quantity-oval{
            height: 20px;
            width: 33px;
            background-color: $greyish;
            border-radius: 45%;          
            text-align: center;
        }
    }       
    .review-container{
        background-color: $light-greyish;
        .review-layout{
            margin-top: 42px;
            margin-left: 49px;
            width: 70%;
            .title{
                font-family: 'Montserrat';
                font-size: 24px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: 1px;
                color: $black;              
            }
            .user-review{
                pointer-events: none;
                margin-top: 20px;
                margin-bottom: 20px;
                .row{
                    margin-bottom: 15px
                }
                .dummy-text{
                    width:100px;
                    height: 5px;
                    background-color: $greyish;
                    margin-top: 10px;
                    // margin-bottom: 10px;
                }
                .dummmy-extra-width{
                    width: 200px;
                }
                .user-name{              
                    font-family: 'LucidaGrande';
                    font-size: 16px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.8;
                    letter-spacing: normal;
                    color: $black;
                }
                .other-text{                 
                    font-family: 'OpenSans';
                    font-size: 16px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    color: #2e2e2e;
                }
            }
            .divider{
                width: 779px;
                height: 1px;
                background-color: $form-border-color;
            }
            .review-star{
                color: $macaroni-and-cheese;
            }           
            .submit-container{
                padding-bottom: 20px;
                text-align: center;
            }
        }
    }
}